doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrapV4/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
    script(type="javascript", href='/bootstrapV4/dist/js/bootstrap.js')
    //link(rel='stylesheet' href='jsoneditor/dist/jsoneditor.min.css')
    //script(type="javascript", href='jsoneditor/dist/jsoneditor.min.js')

  body
    block content
